<div class="container__footer">
  <h2>Entre em contato:</h2>
  <div class="footer__links">
    <ul>
      <li>
        <a
          href="https://www.linkedin.com/in/jonas-pereira-lima-56b17628b/"
          target="_blank"
          >LinkedIn</a
        >
      </li>
      <li>
        <span>•</span>
      </li>
      <li><a href="https://github.com/JonasPereiraLima">GitHub</a></li>
      <li>
        <span>•</span>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCyMHCwCM3K-l4rG8hF-lNPw"
          >YouTube</a
        >
      </li>
    </ul>
  </div>
</div>
