<div class="container__big-card">
  <div class="big-card__image">
    <img
      src="https://code.visualstudio.com/assets/docs/nodejs/angular/breakpoint.png"
      alt="Imagem ilustrativa do artigo"
    />
  </div>
  <div class="big-card__title">
    <h2><a href="#">Aprendendo Angular</a></h2>
  </div>
  <div class="big-card__description">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, totam
      tempore? Omnis laborum incidunt suscipit modi quisquam rerum, tenetur
      eligendi eius ab aliquid velit perferendis, blanditiis libero amet
      accusantium optio.
    </p>
  </div>
</div>
